<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navbar"></nav>
<h1 th:text="${title}">All Plant Types</h1>
<table class="table">
    <thead>
        <th>Plant Type Name</th>
        <th>Days between watering</th>
        <th>Light Preference</th>
        <th>ID</th>
    </thead>
    <tr th:each="plantType : ${plantTypes}">
        <td th:text="${plantType.name}"></td>
        <td th:text="${plantType.daysBetweenWater}"></td>
        <td th:text="${plantType.lightPreference.name}"></td>
        <td th:text="${plantType.id}"></td>
    </tr>
</table>

</body>
</html>