<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navbar"></nav>

<div class="container" style="max-width: 600px;">
    <h1 th:text="${plantType.name}"></h1>
    <p><strong>Water preference:</strong> Every <span th:text="${plantType.daysBetweenWater}"></span> days.</p>
    <p><strong>Light preference:</strong> <span th:text="${plantType.lightPreference.name}"></span>.</p>
    <a th:href="@{'/plant/type/edit/' + ${plantType.id}}" class="btn btn-default" role="button">Edit Plant Type</a>
</div>

</body>
</html>