<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navbar"></nav>
<h1 th:text="${title}">All Plants</h1>
<table class="table">
    <thead>
    <th>Plant Name</th>
    <th>Days between watering</th>
    <th>Last Watered</th>
    <th>Needs Water On</th>
    <th>Light Preference</th>
    <th>ID</th>
    <th></th>
    </thead>
    <tr th:each="plant : ${plants}">
        <td>
            <a th:href="@{'/plant/' + ${plant.id}}" th:text="${plant.name}"></a>
             (<span th:text="${plant.plantType.name}"></span>)
        </td>
        <td th:text="${plant.daysBetweenWater}"></td>
        <td th:unless="${plant.lastWatered}">Never</td>
        <td th:if="${plant.lastWatered}" th:text="${plant.lastWatered}"></td>
        <td th:unless="${plant.nextWater}">N/a</td>
        <td th:if="${plant.nextWater}" th:text="${plant.nextWater}"></td>
        <td th:text="${plant.lightPreference.name}"></td>
        <td th:text="${plant.id}"></td>
        <td>
            <a th:href="@{'/plant/edit/' + ${plant.id}}" class="btn btn-default btn-xs" role="button">Edit</a>
            <a th:href="@{'/plant/water/' + ${plant.id}}" class="btn btn-info btn-xs" role="button">Water</a>
        </td>
    </tr>
</table>

</body>
</html>